{{!-- Jumbotron with logo --}}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/logout">Logout</a>
      <a class="navbar-brand" href="/members">Home</a>
    </div>
  </div>
</nav>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <img class="schrewdLogo" src="./assets/images/ShrewdLogo.png">
    <h1 class="Schrewdtitle"> Shrewd Investor - an Online Investing Game! </h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2 class="light-text">Welcome <span class="member-name" id="user-Name">
      </span> </h2>
    </div>
      <li class="list-group-item portfolioBtn virtualBtn" button type="button" id="add4"> Go to Virtual Portfolio</li>

  </div>
</div>



<div class="main-container">

  {{> stocks/ibm}}

  {{> stocks/biogen}}

  {{> stocks/tesla}}

</div>

<footer>
		<div class="fb-share-button" data-href="https://shrewd-investor.herokuapp.com/" data-layout="button"
			data-size="small"><a target="_blank"
				href="https://www.facebook.com/sharer/sharer.php?u=https://shrewd-investor.herokuapp.com/"
				class="fb-xfbml-parse-ignore"><i class="fab fa-facebook-f"></i>Share to Facebook</a></div>
		<br>
		<p>© TheBullandTheBear.com | All rights reserved.</p>
	</footer>