<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shrewd Investor</title>
</head>
<body>

  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/logout">
        Logout
      </a>
      <a class="navbar-brand" href="/members">Home</a>
    </div>
  </div>
</nav>
<div class="jumbotron jumbotron-fluid">
<div class="container">
   <img class="schrewdLogo" src="./assets/images/ShrewdLogo.png"> 
   <h1 class="Schrewdtitle"> Shrewd Investor - an Online Investing Game! </h1>
</div>
</div>


  <h1 style="color: #65dba4; text-align: center;">Lesson #2: Long-term investment makes sense - Charts.js</h1>

  <br>
  <br>
  <br>


{{!-- <div class="main-container"> --}}


<div class="row cards">

  <div class="col-md-6 col-md-offset-3 peter">

      <canvas id="myChart" width="800" height="450"></canvas>
      <br>
      <br>
      <h1 style="color: #65dba4; text-align: center;">IBM stocks 20+ years</h1>

  </div>
{{!-- <h1 style="color: #65dba4; text-align: center;">IBM stocks 20+ years</h1> --}}
</div>
  {{!-- </div> --}}

  <br>
  <br>
  <br>


</body>
</html>