<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/logout">Logout</a>
      <a class="navbar-brand" href="/members">Home</a>
    </div>
  </div>
</nav>

<div class="jumbotron jumbotron-fluid">
<div class="container">
   <img class="schrewdLogo" src="./assets/images/ShrewdLogo.png"> 
   <h1 class="Schrewdtitle"> Shrewd Investor - an Online Investing Game! </h1>
</div>
</div>


  <h1>Hello!</h1>

  
</body>
</html>