<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/logout">
        Logout
      </a>
    </div>
  </div>
</nav>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <img class="schrewdLogo" src="./assets/images/ShrewdLogo.png">
    <h1 class="Schrewdtitle"> Shrewd Investor - an Online Investing Game! </h1>
  </div>
</div>


<div class="main-container">
  {{#each favorites_data}}
  <div class="row cards">
    <div class="card stockCard col-sm-3">

      <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong></strong>Name: {{this.favoriteObject.name}}</li>
        {{!-- <li class="list-group-item"><strong>Current Price:</strong> <span id="facebook"></span></li>
   <li class="list-group-item"><strong> Today's Change:</strong> <span id="changepercentagefacebook"></span></li>
   <li class="list-group-item detailBtn" button type="button"> Get the Facts </li>
   <li class="list-group-item portfolioBtn" button type="button" id="facebookBtn"> Add to Portfolio</li> --}}
      </ul>

    </div>
  </div>

  {{/each}}




</div>