<div class="card stockCard col-sm-3" id="btest">
<img class="stockImg card-img-top" src="./assets/images/Biogen-Logo.png" alt="...">
   <div class="card-body">
   <h5 class="card-title">Biogen</h5>
</div>
<ul class="list-group list-group-flush">
   <li class="list-group-item"><strong>Current Price:</strong> <span id="priceBiogen"></span></li>
   <li class="list-group-item" id="bli"><strong>Today's Change:</strong> <span id="changepercentageBiogen"></span></li>
   <li class="list-group-item" button type="button" id="post2"> Show my Portfolio </li>
   <li class="list-group-item portfolioBtn" button type="button" id="add2"> Add to Portfolio</li>
</ul>
</div>


