<div class="row cards">
<div class="card stockCard col-sm-3">
<img class="stockImg" src="./assets/images/IBM_LOGO.jpeg" class="card-img-top" alt="...">
   <div class="card-body">
   <h5 class="card-title">IBM</h5>
</div>
<ul class="list-group list-group-flush">
   <li class="list-group-item"><strong>Current Price:</strong> <span id="priceIBM"></span></li>
   <li class="list-group-item" id="ili"><strong> Today's Change:</strong> <span id="changepercentageIBM"></span></li>
   <li class="list-group-item detailBtn" button type="button" id="post1"> Get the Facts </li>
   <li class="list-group-item portfolioBtn" button type="button" id="add1"> Add to Portfolio</li>
</ul>
</div>