<div class="card stockCard col-sm-3">
<img class="stockImg card-img-top"src="./assets/images/teslalogo.jpg" alt="...">
   <div class="card-body">
   <h5 class="card-title" id="tesla-name">Tesla</h5>
</div>
<ul class="list-group list-group-flush portfolio-form">
   <li class="list-group-item"><strong>Current Price:</strong> <span id="priceTesla"></span></li>
   <li class="list-group-item"><strong>Today's Change:</strong> <span id="changepercentageTesla"></span></li>
   <li class="list-group-item" button type="button"> Get the Facts </li>
   <li class="list-group-item portfolioBtn" button type="button" id="add3"> Add to Portfolio</li>
</ul>
</div>