body {
  width: 100%;
  background-color:#212121;

}

.jumbotron {
  height: 300px;
  background-color: #eeeeeed5;
  color: #212121;
  text-align: center;
  font: 20px;
  border-bottom: 5pt solid cornflowerblue;
}

.jumbotron img  {
  width: 100px;
  height: 100px;
}

.virtualBtn {
  margin-left: 80%;
  width: 25%;
  background-color: #65dba4 ;
  color: black;
  text-align: center;

}

.cards{
  margin-left: 10%;
}

.stockCard {
  border: 5pt solid #65dba4;
  margin: 2%;
  text-align: center;
  align-items: center;

}

.stockImg {
  width: 150px;
  height: 150px;
  padding: 4px 4px 4px 4px;
}

ul {
  list-style-type: none;
  border: #212121;
}



@media (min-width: 1200px) {
  .container {
    width: 990px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 990px;
  }
}

.light-text {
  color: #65dba4;
}


footer {
  width: 100%;
  background-color: rgba(220, 220, 220, 0.954);
  padding-top: 20px;
  text-align: center;
  position: static   ;
  height: 15%;
  margin-top: 75px;
}

#changepercentageTesla {
  color: green;
  /* color: white; */
}

#changepercentageBiogen {
  color: red;
}

#changepercentageIBM {
  color: orange;
}

/* #btest {
  background-color: orange
} */

/* #tli {
  border-radius: 25px;
  background-color: green;
} */